html,

h4 {
	text-align: right;
	margin-top: 20px;
	padding-right: 20px;
	font-family: Quicksand;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.5%;
    letter-spacing: 0.05em;
    color: #5E4472;
}

.rectangle {
	background: #A382BD;
	position: absolute;
	width:129px;
	height:1040px;
	left: 0px;
	top: 0px;
	bottom:0px;
}



.logo{
	position: relative;
	width: 130px;
	height: 30px;
	left: -35px;
	top: 120px;

	font-family: Mermaid;
	font-style: normal;
	font-weight: bold;
	font-size: 38.3946px;
	line-height: 38px;

	color: #FFFFFF;
	transform: rotate(-90deg);
}

.search{
	position: relative;
	width: 80px;
	height: 25px;
	left: 0px;
	top: 637px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 123.5%;

	letter-spacing: 0.05em;
	color: #FFFFFF;
	transform: rotate(-90deg);
}

.about{
	position: relative;
	width: 80px;
	height: 25px;
	left: 0px;
	top: 790px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 123.5%;

	letter-spacing: 0.05em;
	color: #FFFFFF;
	transform: rotate(-90deg);
}

.register{
	position: relative;
	width: 80x;
	height: 25px;
	left: -30px;
	top: 951px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 123.5%;

	letter-spacing: 0.05em;
	color: #FFFFFF;
	transform: rotate(-90deg);
}


.heading{
	position: absolute;
	width: 470px;
	height: 142px;
	left: 218px;
	top: 326px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 119%;
	letter-spacing: 0.05em;
	color: #5E4472;
	text-align: left;
}

.disc{
	position: absolute;
	width: 470px;
	height: 156px;
	left: 218px;
	top: 488px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 135.5%;
	letter-spacing: 0.08em;
	color: #5E4472;
	text-align: left;	
}

.search-box{
	position: absolute;
	width: 178px;
	height: 45px;
	left: 228px;
	top: 670px;

	background: #F4F4F4;
	border-radius: 15px;
	box-shadow: 2px 2px #CFCFCF;
}

.search-text{
	border:none;	
	background: none;
	outline: none;
	float: left;
	color:#000;
	font-size: 16px;
	padding-top: 10px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 135.5%;
	letter-spacing: 0.08em;
	color: rgba(92, 88, 96, 0.67);

}

.search-btn{
	position: relative;
	top:-25px;
	color: rgba(92, 88, 96, 0.67);
}

.line hr {
	position: absolute;
	width: 130px;
	height: 0;
	top:740px;
	left: 230px;
	border: 2px solid #A382BD;
	fill:  #A382BD;	

}

.mymate{
	position: absolute;
	width: 289.72px;
	height: 85.36px;
	left: 601px;
	top: 128px;

	font-family: Mermaid;
	font-style: normal;
	font-weight: bold;
	font-size: 85.566px;
	line-height: 86px;
	-webkit-text-fill-color: white;
	-webkit-text-stroke: 1px;
	color: #AF8DC9;
	line-height: 50px;
	z-index: -1;

}

.rectangle2{
	position: absolute;
	width: 539px;
	height: 804.41px;
	left: 980px;
	top: 235px;
	background: #A382BD;
}

.image {
	position: absolute;
	width: 524.56px;
	height: 742.77px;
	left: 799px;
	top: 150px;

	background: url(.jpg);
	mix-blend-mode: normal;
	border-radius: 10px;
}

.ln{
	border-left: 3px solid white;
	height: 140px;
	position: absolute;
	right: 30px;
	bottom:0px;
	margin-left: -3px;
}

.imageTW{
	position: absolute;
	right: 25px;
	bottom: 240px;
}

.imageFB{
	position: absolute;
	right: 25px;
	bottom: 200px;
}

.imageIG{
	position: absolute;
	right: 25px;
	bottom: 160px;
}
